<!-- Navbar HTML Code (Vertical Sidebar) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light custom-sidebar">
    <div class="container-fluid flex-column">
        <div class="navbar-nav flex-column">
            <a class="nav-link active" href="{% url 'home' %}">Dashboard</a>
            <a class="nav-link" href="{% url 'placed' %}">Placed</a>
            <a class="nav-link" href="{% url 'not_placed' %}">Not-Placed</a>
            <a class="nav-link" href="{% url 'backlog' %}">Backlogs</a>
            <a class="nav-link" href="{% url 'sform' %}">Add Student</a>
        </div>
    </div>
</nav>
